{% extends 'base.html' %}

{% block menu %}
<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'departamentos:lista-departamentos' %}">Gerenciar Departamentos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'funcionarios:lista-funcionarios' %}">Gerenciar Funcionários</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'horas_extra:listar-banco-horas' %}">Gerenciar Banco de Horas</a>
    </li>

    {% if user.funcionario.empresa %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'empresas:editar-empresa' user.funcionario.empresa.pk %}">Editar Empresa</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'empresas:nova-empresa' %}">Criar Empresa</a>
        </li>
    {% endif %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Relatórios</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">PDF - Reportlab</a></li>
          <li><a class="dropdown-item" href="#">PDF - XHML2PDF</a></li>
          <li><a class="dropdown-item" href="#">CSV</a></li>
          <li><a class="dropdown-item" href="#">Excel</a></li>
        </ul>
      </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}" tabindex="-1" aria-disabled="true">Sair</a>
    </li>
</ul>
{% endblock menu %}

{% block main %}
    <div class="row">
        <p>Olá {{ user.get_full_name }}!</p>
    </div>
{% endblock main %}
