{% extends 'core/index.html' %}

{% block main %}
    <div class="row mb-3">
        <h2>Departamentos</h2>
        <hr/>
    </div>
    <div class="row">
        <a href="{% url 'departamentos:novo-departamento' %}" class="btn btn-primary">Novo Departamento</a>
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                </tr>
            </thead>
            <tbody>
                {% for departamento in departamentos %}
                    <tr>
                        <td>
                            <a href="{% url 'departamentos:editar-departamento' departamento.pk %}">
                                Editar
                            </a>
                            <a href="{% url 'departamentos:deletar-departamento' departamento.pk %}">
                                Deletar
                            </a>
                        </td>
                        <td>{{ departamento }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock main %}
